<%
featured ||= false
individual ||= false
archive ||= false
category ||= false
-%>

<%= div_for event, :class => 'individual_event' do -%>

  <section class="event_image">
    <%= image_fu event.image, "150x150#c" %>
  </section>

  <% unless individual -%>
    <h3><%= link_to event.title, event %></h3>
  <% end -%>

  <section class="start_end">
    <p>
      
      <a href="<%= url_for(:format => :ics) %>" class="float-right"><img class="sprites sprite-icon-ics-32" src="/images/s.gif" alt="ical icon"></a>
      <span class="start"><%= event.start_at.strftime('%b %e, %Y %l:%M %p') %></span><span class="delim">&nbsp;|&nbsp;</span><span class="end"><%= event.end_at.strftime('%b %e, %Y %l:%M %p') %></span>
    </p>
  </section>
  <section>
    <% if individual -%>
      <%=raw event.description %>
    <% else -%>
      <%= simple_format(truncate strip_tags(event.description), :length => 200) %>
    <% end -%>
  </section>

  <% if individual -%>
    <div id="share_this_event">
      <span class="share-btn"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a></span>
      <span class="share-btn"><g:plusone size="tall"></g:plusone></span>
      <span class="share-btn"><script type="IN/Share" data-counter="top"></script></span>
      <span class="share-btn"><fb:like href="<%= request.url %>" layout="box_count" show_faces="false" width="55" font=""></fb:like></span>
    </div>

    <nav id="prevnext_nav">
      <span class="prev third">
        <% if event.prev.present? -%>
          <%= link_to event_path(event.prev), :class => "prev button" do -%>
            &laquo; Previous <strong><%=truncate event.prev.title, :length => 20 %></strong>
          <% end -%>
        <% else -%>
          <span class="prev disabled button">
            &laquo; Previous
          </span>
        <% end -%>
      </span>

      <%= link_to events_path, :class => "home button" do -%>
        Events home
      <% end -%>
      <span class="next third">
        <% if event.next.present? -%>
          <%= link_to event_path(event.next), :class => "next button" do -%>
            Next <strong>
              <%=truncate event.next.title, :length => 20 %></strong> &raquo;
          <% end -%>
        <% else -%>
          <span class="next disabled button">
            Next &raquo;
          </span>
        <% end -%>
      </span>
    </nav><!--#event_nav-->
  <% end -%>

<% end -%>