<% content_for :body_content_left do %>
  <div id="featured_events" class="events">
    <%= render :partial => 'event', :collection => @featured_events, :locals => { :featured => true } %>
  </div>
  <div id="all_events" class="events">
    <%= render :partial => 'event', :collection => @events %>
  </div>
  <% if @featured_events.empty? and @events.empty? %>
<div class="flash info">
  <%= t('.none_events') %>
</div>
  <% end %>
<% end %>

<%= render 'events/sidebar' %>

<%= render :partial => "/shared/content_page" %>
