<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>

<% content_for :body_content_left do %>
  <div id="event">
    <%= render :partial => 'event', :locals => { :event => @event, :individual => true } %>
  </div>
  <section class="archives">
  <h2>Archives</h2>
  <%= events_archive_list %>
  </section><!-- .archives -->
<% end %>

<%= render 'events/sidebar' %>

<%= render :partial => "/shared/content_page" %>

